#root, html, body, canvas {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    transition: opacity 1s ease-in-out;
    background-color: #000000; /* Ensure background stays black */
}

body.render {
    opacity: 1; /* Fully visible when rendered*/
}

body.fade-out {
    opacity: 0; /* Fade to black during transition */
}

body.initializing {
    opacity: 0; /* Ensure the initial black state */
    transition: none; /* Disable transitions during the initial load setup */
}
